## How to write gitignore file: http://www.sujee.net/tech/articles/gitignore/
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## skz files to ignore
node_modules/*
npm-debug.log
#.grunt/*

## jscoverage
test/coverage.html
test-cov/*
covreporter.html
test/unit-cov/*
test/output/*

dump/*
test/prototype/*
config.json
config*.json